html, body {
  font-family: 'Poppins', sans-serif;
  color: #30363B;
  overflow-x: hidden;
}

#home {
  padding-top: 92px;
  min-height: 100vh
}

#howtovote {
  padding-top: 80px;
  padding-bottom: 75px;
  position: relative;
}

#candidates {
  padding-top: 80px;
  padding-bottom: 75px;
  position: relative;
}

#startvoting {
  padding-top: 32px;
  position: relative;
}

footer {
  background-color: #323232;
  overflow: auto;
}

hr {
  border: none;
  height: 0.5px;
  background: white;
}

.navbar-custom {
  margin-left: 116px;
}

.navbar {
  padding-top: 24px !important;
  padding-bottom: 24px !important;
  background-color: transparent;
  transition: all 500ms linear;
}

.navbar-brand {
  padding: 0;
  margin-left: 0px;
  transition: all 500ms linear;
}

.nav-item {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 8px;
}

.nav-link {
  font-size: 14px;
  padding-bottom: 0px;
  color: #30363B !important;
  font-weight: 500;
}

.nav-item.active>.nav-link {
  font-weight: 800;
}

.nav-item.active:after {
  content: "";
  width: calc(100% - 16px);
  height: 3px;
  bottom: 0;
  display: block;
  margin: 0 auto;
  border-radius: 3px;
  background-color: #30363B;
  border: 1px solid #30363B;
  margin-top: 3px;
}

.navbar-dark .navbar-nav .nav-item.active:after {
  content: "";
  width: 45%;
  height: 1px;
  bottom: 0;
  display: block;
  margin: 0 auto;
  border-bottom: 2px solid white;
}

.navbar-dark .navbar-brand {
  padding: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 0px;
  transition: all 500ms linear;
}

.custom-button-login {
  color: #FF7A00;
  border-color: #FF7A00;
  border-width: 2px;
  border-radius: 12px;
  padding: 4px 38px;
  font-weight: 500;
  font-size: 14px;
}

.content-header {
  max-width: 358px;
  color: black;
  margin-top: 28px;
  margin-bottom: 24px;
}

.custom-container-header {
  margin-top: 120px;
  margin-left: 0px;
}

.scrolled {
  box-shadow: 0px 0px 16px #e5e5e5;
}

.title-header {
  font-weight: 700;
  font-size: 48px;
  line-height: 72px;
}

.sub-title-header {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.bg-header {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100vw * 0.6);
  z-index: -1;
}

.il-header {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 55%;
  z-index: -1;
}

.title-section {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.fs-14 {
  font-size: 14px;
}

.sub-title-section {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  margin: 0 auto;
  margin-top: 8px;
  max-width: 504px;
}

.custom-button-continue {
  background: #C7E410;
  border-radius: 12px;
  color: #30363B;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  padding: 8px 36px;
  margin-top: 72px;
}

.how-to-vote-wrapper-min-1200 {
  display: block;
}

.how-to-vote-wrapper {
  display: none;
  position: relative;
  margin-top: 64px;
}

.item-how-to-wrapper {
  background: white;
  box-shadow: 0px 8px 16px #ececec;
  border-radius: 16px;
}

.item-how-to {
  background: rgba(199, 228, 16, 0.21);
  border-radius: 14px;
  text-align: center;
}

.number-item-how-to {
  position: absolute;
  background: orange;
  padding: 8px 16px;
  border-radius: 16px 0px;
  font-weight: 600;
  color: white;
}

.how-to-vote-wrapper-min-1200 {
  position: relative;
  margin-top: 64px;
}

.how-to-vote-wrapper-min-1200-row {
  margin-left: 2%;
  margin-right: 2%;
}

.shadow-how-to-min-1200 {
  background: rgba(146, 70, 0, 0.12);
  filter: blur(56px);
  position: absolute;
  width: 100%;
  height: 97px;
}

.bg-how-to-min-1200 {
  width: 100%;
  margin-top: -48px;
  position: relative;
}

.content-how-to-min-1200-wrapper {
  margin-top: -6.2%;
  text-align: center;
  font-size: 13px;
  padding-left: 1%;
  padding-right: 1%;
}

.content-how-to {
  text-align: center;
  padding: 16px;
  font-size: 14px;
  min-height: 74px;
  align-content: center;
  display: grid;
}

.content-how-to-min-1200 {
  align-content: center;
  display: grid;
  height: calc(100vw / 19);
}

.item-how-to-min-1200-0 {
  margin-right: 16%;
}

.item-how-to-min-1200-1 {
  margin-left: 2.4%;
  margin-right: 10%;
}

.item-how-to-min-1200-2 {
  margin-right: 2.4%;
  margin-left: 10%;
}

.item-how-to-min-1200-3 {
  margin-left: 16%;
}

input[type=radio] {
  display: none;
}

.header-candidates {
  display: flex;
}

.item-counter-candidates {
  background: rgba(255, 122, 0, 0.65);
  font-weight: 600;
  font-size: 36px;
  color: white;
  padding: 8px 28px;
  height: fit-content;
  border-radius: 16px;
}

.bg-header-candidates {
  width: 100%;
  height: 88px;
  background: #FFD6B0;
  border-radius: 15px 15px 0px 0px;
  margin-left: 16px;
  font-weight: 700;
  font-size: 36px;
  color: #30363B;
  display: flex;
  align-items: center;
  padding-left: 32px;
}

.content-candidates {
  background: #FFD6B0;
  border-radius: 15px 0px 15px 15px;
  padding-top: 32px;
}

.title-vision-mision {
  color: #30363B;
  font-weight: 600;
  font-size: 24px;
}

.content-vision-mision {
  font-weight: 400;
  color: #30363B;
  font-size: 14px;
}

.img-person-candidates {
  background-image: url("/assets/img/bg-candidates.png");
  padding-top: 48px;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  background-size: contain;
  bottom: 0;
}

.img-candidates {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.card-candidates {
  position: absolute;
  width: 80%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  cursor: pointer;
}

.container-candidates {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 48px;
}

.cards-candidates {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

#item-1:checked~.cards-candidates #song-3, #item-2:checked~.cards-candidates #song-1, #item-3:checked~.cards-candidates #song-2 {
  transform: translatex(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked~.cards-candidates #song-2, #item-2:checked~.cards-candidates #song-3, #item-3:checked~.cards-candidates #song-1 {
  transform: translatex(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked~.cards-candidates #song-1, #item-2:checked~.cards-candidates #song-2, #item-3:checked~.cards-candidates #song-3 {
  transform: translatex(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked~.cards-candidates #song-1 .img-candidates, #item-2:checked~.cards-candidates #song-2 .img-candidates, #item-3:checked~.cards #song-3 .img-candidates {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

#item-2:checked~.player #test {
  transform: translateY(0);
}

#item-2:checked~.player #test {
  transform: translateY(-40px);
}

#item-3:checked~.player #test {
  transform: translateY(-80px);
}

.btn-start-voting {
  font-size: 27px;
  font-weight: 700;
  background: #FF7A00;
  border-radius: 19px;
  padding: 18px 48px;
  color: white;
  box-shadow: 0px 8px 32px #ff7b007c;
}

.btn-start-voting:hover {
  font-size: 27px;
  font-weight: 700;
  background: #FF7A00;
  border-radius: 19px;
  padding: 18px 48px;
  color: white;
}

.title-start-voting {
  font-weight: 700;
  font-size: 36px;
  color: #30363B;
}

.bg-start-voting {
  background-position: right;
  background-image: url("/assets/img/bg-start-voting.svg");
  background-size: cover;
  border-top-right-radius: 32px;
  border-bottom-right-radius: 32px;
}

@media only screen and (max-width: 992px) {
  .nav-link {
    text-align: center;
  }
  .nav-item.active:after {
    content: "";
    width: 32px;
    height: 1px;
    bottom: 0;
    display: block;
    margin: 0 auto;
    border-bottom: 2px solid black;
  }
  .navbar-custom {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 1198px) {
  .how-to-vote-wrapper-min-1200 {
    display: none;
  }
  .how-to-vote-wrapper {
    display: block;
  }
}

@media screen and (max-width: 765px) {
  .btn-start-voting {
    font-size: 20px;
    font-weight: 700;
    background: #FF7A00;
    border-radius: 19px;
    padding: 12px 32px;
    color: white;
  }
  .btn-start-voting:hover {
    font-size: 20px;
    font-weight: 700;
    background: #FF7A00;
    border-radius: 19px;
    padding: 12px 32px;
    color: white;
  }
  .item-counter-candidates {
    font-size: 24px;
    padding: 8px 20px;
  }
  .bg-header-candidates {
    height: 64px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 20px;
    padding-left: 25px;
  }
}

@media screen and (max-width: 960px) {
  .nav-link {
    text-align: center;
  }
  .nav-item {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 487px) {
  .title-start-voting {
    font-weight: 700;
    font-size: 24px;
    color: #30363B;
  }
  .item-counter-candidates {
    font-size: 20px;
    padding: 8px 18px;
  }
  .bg-header-candidates {
    height: 58px;
    margin-left: 12px;
    font-weight: 700;
    font-size: 16px;
    padding-left: 25px;
  }
}

/* candidates */